:root {
  --color-grey: #575757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 22px;
  font-weight: 800;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
p {
  font-size: 14px;
  font-weight: 600;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  box-sizing: border-box;
}

.main {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside main";
  margin: 0 auto;
}

/* Main content */
.main-content {
  background: #eae4e4ed;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  margin-left: 0px;
  padding-right: 75px;
  padding-left: 75px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  grid-area: main;
}

/* * about */
.about {
  left: 498px;
  top: 142px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.about-position {
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  color: #595959;
  margin: 0;
}

/* projects */
.projects {
  margin-bottom: 45px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.title {
  color: #000000;
  margin: 0;
}

.project-list {
  padding: 0;
  margin-left: 15px;
  display: flex;
  gap: 36px;
  flex-direction: column;
}

.project-item {
  color: #081438;
}

.project-link {
  word-wrap: break-word;
  text-decoration: underline 1px solid #081438;
  color: #081438;
  text-underline-offset: 2px;
}

/* work */
.work {
  margin-bottom: 45px;
  
}

.work-position {
  color: #000000;
  margin-bottom: 10px;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-grey);
  margin-bottom: 10px;
}
.project-period {
  color: var(--color-grey);
  margin: 0;
}
.education-period {
  color: var(--color-grey);
  margin: 0;
}

.line {
  color: #000000;
}
.organization {
  color: #fb6d3a;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  color: var(--color-grey);
}

/* education */
.education {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.additionally {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.education-place {
  color: #fb6d3a;
  margin: 0;
}

.facultet {
  color: #000000;
}

/* sidebar */
.sidebar {
  background-color: #091438;
  padding-top: 40px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-area: aside;
}

.photo {
  width: 100%;
  margin-bottom: 50px;
  display: none;
}

.sidebar_title,
.language-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24px;
  gap: 32px;
}

.contacts div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-type {
  color: #ffffff;
}

.contact-link {
  color: #a9b8d0;
  word-wrap: break-word;
}

.tech-skills-list,
.language-Skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tech-skills-item,
.language-skills-item {
  color: #fb6d3a;
}

.tech-skills-text,
.language-skills-text {
  color: #ffffff;
}


.git-link {
  word-wrap: break-word;
  margin-left: 15px;
}

.me,
.project-desc,
.project-exp {
  margin: 0;
}
.me {
  margin-left: 15px;
}

.education-part,
.project-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.soft-skills-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  
}
.Soft-Skills-list {
    color: #181717;
    padding: 0;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  
.skill-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-item-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #000000;
}
.education-part-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 15px;
}

.education-skill {
  margin: 0;
}

.project-title {
  margin: 0;
}

.project-flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resume {
  color: #4f5865;
  text-align: end;
}
.resume-block {
  display: flex;
  justify-content: right;
}

.education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: auto auto auto;
    row-gap: 32px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .sidebar-info {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .project-part {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 540px) {
  .education-part {
    flex-direction: column;
    align-items: flex-start;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .sidebar-info {
    padding: 30px;
  }
  .sidebar {
    margin-top: 182px;
  }
  .photo {
    margin-bottom: 0;
  }
  .about {
    position: absolute;
    inset: 30px;
  }
}
@media print {
    body{
        /* height: 100%; */
        height: 100vh;
    }
}
