* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    display: flex;
    /* justify-content: center;
    width: 100%; */
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
}

/* Main content */
.main-content {
    background: #eae4e4ed;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    margin-left: 0px;
    padding-right: 75px;
    padding-left: 75px;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
 

/* * about */ 
.about {
    /* height: 220px; */
    /* width: 400px; */
    left: 498px;
    top: 142px;
    /* padding-left: 75px; */
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    margin: 0
}

/* projects */
.projects {
    margin-bottom: 45px;
    display: flex;
    gap: 12px;
    flex-direction: column;



}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0;
}

.project-list {
    padding: 0;
    margin-left: 15px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    list-style: decimal;
}

.project-iten {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    
    list-style: decimal;

}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    word-wrap: break-word;
}


.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


/* work */
.work {
    /* padding-left: 75px; */
    margin-bottom: 45px;
}

.work-position {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 10px;
}

.period {
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin-bottom: 10px;
}
.project-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
margin: 0;    
}
.education-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0;    
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.organization {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-iten {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}


/* education */
.education {
    /* padding-left: 75px; */
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    .additionally {
        /* padding-left: 75px; */
        margin-bottom: 45px;
    }

    .education-place {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FB6D3A;
        margin: 0;
    }

    .facultet {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }


/* sidebar */
.sidebar {
    background-color: #091438;
    padding-top: 40px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.photo {
    display: flex;
    max-width: 370px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.sidebar-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    gap: 32px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #90a2bd;
    word-wrap: break-word;

}

.tech-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-iten {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.Soft-Skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
 }

.Soft-Skills-iten {
    color: #FB6D3A;
}

.Soft-Skills-text {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}

.git-link {
    word-wrap: break-word;
    margin-left: 15px;
}

.me,
.project-desc,
.project-exp {
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
margin: 0
}
.me{
    margin-left: 15px;
}

.education-part,
.project-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.project-item-flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.education-part-main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 15px;

}

.education-skill {
    margin: 0;
}

.project-title {
    margin: 0;
}

.project-flex-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.resume {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4F5865;
}
.resume-block {
    display: flex;
   justify-content: right;
}

.hide{
    display: none;
}

@media only screen and (max-width: 1024px) {
.sidebar-info {
    padding: 10px;
}

}

 @media only screen and (max-width: 768px) {
    .photo {
        max-width: 228px;
    }
    .main-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .project-part {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start
    };
      
    } 
    @media only screen and (max-width: 540px) {
        .photo {
            max-width: 189px;
        }
        .education-part {
            flex-direction: column;
            align-items: flex-start;
        }
                
        
        } 

