:root {
  --color-grey: #575757;
  --color-white: #ffffff;
  --color-orange: #fb6d3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 8px;
}
h1 {
  font-size: 4.5rem;
  font-weight: 800;
}
h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
h3 {
  font-size: 3rem;
  font-weight: 700;
}
h4 {
  font-size: 2rem;
  font-weight: 700;
}
p,
a,
li {
  font-size: 1.75rem;
  font-weight: 600;
}
span {
  font-size: 1.4rem;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  box-sizing: border-box;
}

.main {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside main";
  margin: 0 auto;
}

/* Main content */
.main-content {
  background: #eae4e4ed;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  margin-left: 0px;
  padding-right: 75px;
  padding-left: 75px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  grid-area: main;
}

/* * about */
.about {
  left: 498px;
  top: 142px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.about-position {
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  color: #595959;
  margin: 0;
}

/* projects */
.projects,
.summary,
.experience {
  margin-bottom:36px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.title {
  color: #000000;
  margin: 0;
}

.project-list,
.experience-list{
  padding: 0;
  margin-left: 15px;
  display: flex;
  gap: 36px;
  flex-direction: column;
}
.experience-item-flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.experience-item{
    list-style-type: none;
}
.project-item {
  color: #081438;
}

.project-link {
  word-wrap: break-word;
  text-decoration: underline 1px solid #081438;
  color: #081438;
  text-underline-offset: 2px;
}
.experience-tasks{
    display: flex;
    flex-direction: column;     
    gap: 8px;
    
}

/* work */
.work {
  margin-bottom: 36px;
}

.work-position {
  color: #000000;
  margin-bottom: 10px;
}

.period {
  font-style: normal;
  /* font-weight: 400; */
  /* font-size: 12px; */
  color: var(--color-white);
  margin-bottom: 10px;
}
.project-period {
  color: var(--color-grey);
  margin: 0;
}
.education-period {
  color: var(--color-white);
  margin: 0;
}

.line {
  color: #000000;
}
.organization {
  color: var(--color-orange);
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  color: var(--color-grey);
}

/* education */
.education {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.additionally {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.education-place {
  color: var(--color-white);
  margin: 0;
}

.facultet {
  color: #000000;
}

/* sidebar */
.sidebar {
  background-color: #091438;
  padding-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: aside;
  gap: 40px;
}

.photo-block {
  width: 100%;
  margin-bottom: 50px;
  max-height: 40vh;
  overflow: hidden;
  background: #eae4e4ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar_title,
.language-title {
  color: #ffffff;
  font-style: normal;
  /* font-weight: bold;
  font-size: 22px; */
  margin-bottom: 10px;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24px;
  gap: 32px;
}

.contacts div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-type {
  color: #ffffff;
}

.contact-link {
  color: #a9b8d0;
  word-wrap: break-word;
}

.contact-link:hover {
  color: #d5ddec;
  word-wrap: break-word;
}

.tech-skills-list,
.language-Skills-list,
.education-list {
  color: #ffffff;
  padding: 0;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.education-part  {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tech-skills-item,
.language-skills-item,
.education-part-item {
  color: #fb6d3a;
}

.tech-skills-text,
.language-skills-text {
  color: #ffffff;
}


.git-link {
  word-wrap: break-word;
  margin-left: 15px;
}

.me,
.project-desc,
.project-exp {
  margin: 0;
}
.me {
  margin-left: 15px;
}


.education-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.project-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.soft-skills-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.Soft-Skills-list {
  color: #181717;
  padding: 0;
  margin-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-item-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #000000;
}
.education-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.education-list a{
    color: rgb(153, 185, 229);
}
.education-part-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 15px;
}

.education-skill {
  margin: 0;
  color: var(--color-white);
}

.project-title {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 16px;
}

.project-flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resume {
  color: #4f5865;
  text-align: end;
}
.resume-block {
  display: flex;
  justify-content: right;
}

/* .education-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
} */

.hide {
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 10px 15px;
  background-color: #fb6d3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 1024px) {
  .sidebar-info {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .project-part {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 540px) {
  .education-part {
    flex-direction: column;
    align-items: flex-start;
  }
  .main {
    display: flex;
    flex-direction: column;
  }

  .sidebar-info {
    padding: 30px;
  }
  .sidebar {
    margin-top: 134px;
  }
  .photo {
    max-width: 100%;
  }
  .photo-block {
    margin-bottom: 0;
    max-height: 100%;
    height: 30vh;
  }
  .about {
    position: absolute;
    inset: 0;
    height: fit-content;
    background-color: #eae4e4ed;
  }
  .about-name,
  .about-position {
    padding-left: 24px;
  }
}
@media print {
  @page {
    size: A4;
    margin: 0cm;
  }

  body {
    margin: 0;
    height: 100%;
  }
  
}
